//──────────────────────────────────────────────────────────────────────────────
/*
 * @div .photographer-header : contains photographer data : presentation (name,
 *      location, tagline) contact-me button and id portrait
 *      Flexbox with equal space between the elements which are vertically
 *      centered
 */
//──────────────────────────────────────────────────────────────────────────────

.photographer-header {
    background-color: $color-verylightgrey;
    height: 30rem;
    margin: 0 10rem;
    padding: 0 5rem 0 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // @div presentation to align vertically name,  location and tagline 
    &_presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // @class name : style of name
    &_name {
        font-weight: 400;
        font-size: 6.4rem;
        line-height: 8.333rem;
        color: $color-secondary;
    }
    // @class location : style of location
    &_location {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.125rem;
        color: $color-primary;
    }
    // @class tagline : style of tagline
    &_tagline {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.344rem;
        color: $color-darkgrey;
    }
    // @button contact-button : 
    &_contact-button {
        border: 0;
        border-radius: 0.5rem;
        width: 17rem;
        height: 6.9rem;
        font-weight:700;
        font-size: 1.8rem;
        line-height: 2.344rem;
        color: $color-white;
        background-color: $color-primary;
        &:hover, &:focus {
            cursor: pointer;
            background-color: $color-secondary;
        }
    }
    &_portrait {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * @div sort-criteria : container for the sort criteria select element
 */
//──────────────────────────────────────────────────────────────────────────────

.sort-criteria {
    margin: 2rem 10rem;
    &:hover, &:focus {
        border: 0.1rem;
        border-color: blue;
        border-radius: 0.3rem;
    }
    &_label {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
    }
    &_select {
        border: 0;
        border-radius: 0.5rem;
        width: 17rem;
        height: 6.9rem;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
        color: $color-white;
        background: $color-primary;
        padding: 2rem;
        outline:0;
        box-shadow: none;
        box-shadow: none;
        font-family: "DM Sans", sans-serif;
        &:hover {
            cursor: pointer;
        }
    }
    &_option {
        border: 0;
        border-radius: 0.5rem;
        width: 17rem;
        height: 6.9rem;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
        color: $color-white;
        background: $color-primary;
        padding: 2rem;
        outline:none;
        appearance: auto;
        box-shadow: 0.5rem 0.5rem $color-medium-grey;
    }
   
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * @div sort-criteria : container for the sort criteria select element
 */
//──────────────────────────────────────────────────────────────────────────────

.sort-criteria {
    margin: 2rem 10rem;
    
    &_label {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
    }
    &_select {
        border: none;
        border-radius: 0.5rem;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
        color: $color-white;
        background: $color-primary;
        box-shadow: none;
        // accessibility requirement                        
        &:hover, &:focus {
            cursor: pointer;
            background: $color-secondary;
            border: 0.2rem solid blue;
            border-radius: 0.5rem;
        }
    }
    &_option {
        border:none;
        border-radius: 0.5rem;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.344rem;
        color: $color-white;
        background-color: $color-secondary;
    }
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> #media : contains the media gallery dynamically generated by JS.
 */
//──────────────────────────────────────────────────────────────────────────────
#media {
    display: grid;
    grid-template-columns: 35rem 35rem 35rem; //same as article width
    justify-content: space-between;
    margin: 0 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .medium-card : contains the card of a medium : thumbnail (img or 
 *      video), legend (title and likes).
 */
//──────────────────────────────────────────────────────────────────────────────
.medium-card {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    height: 37.0rem;
    // thumbnail format
    &_img, &_video {
        width: 35rem;
        height: 30rem;
        border:0;
        border-radius: 0.5rem;
        overflow: hidden;
        object-fit: cover; 
        &:hover {
            cursor: pointer;
        }  
    }
    // legend flex div to have title and likes left and right justified
    &_legend {
        width: 35rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:baseline;
    }
    // medium title style
    &_title {
        width: 28rem;
        font-size: 2.4rem;
        line-height: 3.125rem;
        font-weight: 400;
        color: $color-primary;
    }
    // @class likes : style of likes number
    &_likes {
        font-size: 2.4rem;
        line-height: 3.125rem;
        font-weight: 400;
        color: $color-primary;
    }
    // @class likes-icon : icon defaults style (i.e. not liked by user)  
    &_likes-icon {
        padding-left: 0.6rem;
        font-size: 2.4rem;
        line-height: 3.125rem;
        font-weight: 400;
        color: $color-primary;
        background-color: white;
        border:none;
        &:hover {
            cursor: pointer;
        }
    }
    // @class liked-icon : icon style when the medium was liked
    &_liked-icon {
        padding-left: 0.6rem;
        display: block;
        font-size: 2.4rem;
        line-height: 3.125rem;
        font-weight: 400;
        color: $color-secondary;
        background-color: white;
        border:none;
    }
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * @div likes-and-price : container for the bottom panel displaying total likes
 *      and price per day           
 */
//──────────────────────────────────────────────────────────────────────────────

.likes-and-price {
    width: 37.6rem;
    height: 6.7rem;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
    position: fixed;
    bottom: 0;
    right: 3.6rem;
    background: $color-tertiary;
    color: $color-black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.125rem;
    &_likes {
        display: inline-block;
    }
    &_likes-icon {          
        padding-left: 0.6rem;
    }
    &_price {
        display: inline-block;
    }
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> contact-lightbox
 * 
 * It is used to cover all the page body when the contact modal window is 
 * displayed. It is declared at the end of the body to actually cover
 * everything. It is displayed on the click on the contact-me button and closed
 * when the modal window is closed.
 * This is managed by the JavaScript code in script/pages/photogrpher.js.
 * z-index:1 is used to cover the main window.
 */
//──────────────────────────────────────────────────────────────────────────────

.contact-lightbox {
    display: none; // initally the light box is not displayed
    //display: flex;
    flex-direction: row;
    justify-content: center;
    position:fixed;
    top:0; left: 0;
    bottom: 0; right:0;
    background: $color-lightbox-background;
    z-index: 2; // to cover main window.
}

.contact-modal {
    position: fixed;
    top: 5rem;
    width: 66.9rem;
    height: 89rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 0.5rem;
    background: $color-tertiary;
    color: $color-black;
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
        &_title { 
            font-size: 6.4rem;
            font-weight: 400;
            line-height: 8.333rem;
        }
        &_close-button:hover {
            cursor: pointer;
        }
    }
    &_photographer-name {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 6.333rem; 
    }
    &_form {
        margin-top: 2.8rem;
        display: flex;
        flex-direction: column;
        &_label {
            font-size: 3.6rem;
            line-height: 4.6rem;
            &--message {
                font-size: 3.6rem;
                line-height: 6rem;
            }
        }
        &_input {
            height: 6.8rem;
            border-radius: 0.5rem;
            font-family: "DM Sans", sans-serif;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 4.6rem;
            &--message {
                height: 17rem;
                border-radius: 0.5rem;
                font-family: "DM Sans", sans-serif;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 3.0rem;
                resize:none;
            }
        }
        &_submit {
            margin-top: 2.6rem;
            &_button {
                width: 17rem;
                height: 6.9rem;
                font-family: "DM Sans", sans-serif;
                font-size: 1.8rem;
                font-weight: 700;
                font-style: normal;
                background-color: $color-primary;
                color: $color-white;
                border-radius: 0.5rem;
                border:none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
//──────────────────────────────────────────────────────────────────────────────
/*
 * class body-scroll-disable
 * 
 * It is used to disable the body scrolling when a lightbox is displayed
 */
//──────────────────────────────────────────────────────────────────────────────
.body-scroll-disable {
   overflow: hidden;
}
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> medium-lightbox
 * 
 * It is used to cover all the page body when the slide show modal window is 
 * displayed. It is declared at the end of the body to actually cover
 * everything. It is displayed on the click on a medium in the galerry button,
 * and closed when the slide show window is closed.
 * This is managed by the JavaScript code in script/pages/photogrpher.js.
 * z-index:1 is used to cover the main window.
 */
//──────────────────────────────────────────────────────────────────────────────

.medium-lightbox {
    display: none; // initally the light box is not displayed
    //display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top:0; left: 0;
    bottom: 0; right:0;
    background: $color-white;
    z-index: 1; // to cover main window.
    padding-top: 6.2rem;
    &_left {
        width: 8.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_arrow_icon {
            color: $color-primary;
            background-color: $color-primary;
            mask-image: url(./../../assets/icons/left.svg);
            &:hover {
                cursor: pointer;
            }
        }
    }
    &_medium-card {
        &_image {
            height: 84rem;
            margin: 0 auto;
            border-radius: 0.5rem;
            object-fit: contain;
        }
        &_video {
           height: 84rem;
           width: 100rem;
           margin: 0 auto;
           border-radius: 0.5rem;
           object-fit: contain;
        }
        &_legend {
            padding-bottom: 1.5rem;
            font-size: 2.4rem;
            line-height: 3.125rem;
            color: $color-primary;
        }
    }
    &_right {
        width: 8.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &_arrow_icon {
            color: $color-primary;
            background-color: $color-primary;
            mask-image: url(./../../assets/icons/right.svg);
            &:hover {
                cursor: pointer;
            }
        }
        &_close_button {
            position: absolute;
            top: 2.1rem;
            right: 2.1rem;
            background-color: $color-primary;
            mask-image: url(./../../assets/icons/close.svg);
        }
        &:hover {
            cursor: pointer;
        }
    }
}