
//──── colors definition ───────────────────────────────────────────────────────
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #DB8876;
$color-white: #FFFFFF;
$color-verylightgrey: #FAFAFA;
$color-grey: #757575;
$color-darkgrey: #525252;
$color-black:#000000;
$color-lightbox-background: rgba(196, 196, 196, .4);

